body {
  font-family: 'Rubik';
}

.primary-overlay {
  background: rgba(112, 81, 176, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-showcase {
  background: url(../img/Assets/1x/Desktop/Hero-Photo-D-1x.png);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
}

.show {
  margin-top: 110px;
}

.main-header .showcase {
  padding-top: 100px;
}

.main-header-inner {
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 350px;
  color: #fff;
}

.main-header-inner .showcase {
  padding-top: 50px;
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}

.section-developers {
  position: relative;
  background: url(../img/code.jpg);
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 160px;
}

.section-podcast {
  position: relative;
  background: url(../img/circuit.jpg);
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 160px;
}

.section-podcast a {
  margin-top: 30px;
}

.section-podcast .primary-overlay {
  background: rgba(112, 81, 176, 0.9);
}

.carousel-item p {
  font-size: 20px !important;
}

.tabs .indicator {
  background-color: #6a1b9a !important;
}

.btn-extend {
  display: block;
  width: 100%;
}

@media (max-width: 500px) {
  .section-developers,
  .section-podcast {
    min-height: 240px;
  }
  img.computer.responsive-img {
    margin-left: 100px !important;
  }

  .ipad-img{
    height: 800px !important;
    background-position: left !important;

  }
  .hero-1 {
   margin-top: 0px !important;
  
  }
  img.computer.responsive-img{
    width: 100% !important;
    margin: 0px !important; 
  }
.iphone {
    width: 300px !important;
    padding-top: -50px;
  }  
  .NIL
{
width: 200px !important;
}
    img.responsive-img {
      width: 100%;
    }

    .transparency {
      width: 300px;
      align-items: center;
    }

    .trans-icon {
      margin-top: 20px !important;
    }
  
  .ipad-img {
    background:white !important;
  }
  .p.flow-text.first-p.left{
    text-align: center !important;
    width: 100%;
  }
}

nav ul a {
  color: #17A1FB;
}

nav .brand-logo {
  color: #17A1FB;
}

.first {
  padding-top: 70px;
}
.ease-flex {
  margin-top: 75px;
  margin-inline-start: 50px;
}

p.first-p {

  width: 100%;

}

.payments {
  margin-top: 75px;
}



.NIL-Compliance {
  padding-top: 100px;
}
img.responsive-img {
width: 100%;

}

img.responsive-img.ipad {
width: 1500px !important;
height: 700px;

}

.ease {
  height: 600px;
}

img.ease {
  width: 100%;
}

.section-iphone {
  height: 600px;
}

.iphone {
  margin-top: -65px !important;
 
}
.ipad-img {
  background: url(../img/Assets/1x/Desktop/IPad\ image-D-1x.png);
  background-position: right;
  background-repeat: no-repeat;
}
img.computer {
width: 925px;

}
.section-contact {
  background-color: #000050 !important;
  height: 450px;
}

.btn {
  background-color: #17A1FB !important;
}

.contact {
  margin-top: 70px;
}

a .fab {
  color: #000050 !important;
}

nav ul a {
  color: #003292;
}

.footer {
  display: inline;
}

input.select-dropdown {
color: black !important;
}

.modal {
  height: 550px;

  color: #000050;
}